// MODE should be set to development locally or production when deployed
// DATABASE URL should be set to postgresql://[YOUR_USERNAME_HERE]:[YOUR_PASSWORD_HERE]@localhost:5432/[YOUR_DATABASE_HERE]

MODE=development_or_production

DATABASE_URL

GOOGLE_CLIENT_ID

GOOGLE_REDIRECT_URI

GOOGLE_CLIENT_SECRET

GEMINI_API_KEY

SESSION_SECRET
